:root{
  --blue: rgba(26, 56, 87, 0.904);
  --white: rgb(236, 236, 236);
}
body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  --image: url("../src/data/bacground.jpg");
  --toggle-image:url(../src/data/moon.svg);
}
body.dark {
  --background-color: var(--white);
  --text-color: var(--white);
  --font-weight: 400;
  --image: url("../src/data/darkbg.jpg");
  --toggle-image:url(../src/data/sun.svg);
}

.App {
  text-align: center;
}
.title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 20px;
  width: 20rem;
  margin: 0px auto;
  color: var(--text-color);
}

body{
  background-image: var(--image);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* weather form*/
.formContainer{
  display: flex;
  justify-content: center;
  width: 40rem;
  margin: 1rem auto;
  
}
.formContainer form{
  display: flex;
  justify-content: center;
  
}
.formContainer input{
  border: 1px solid #62d;
  outline: none;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: x-large;
  
}
.formContainer input:focus{
  border: 3px solid #62d;
}
.formContainer button{
  cursor: pointer;
  mask-image: url(../src/data/search.svg);
  mask-size: cover;
  width: 30px;
  height: 30px;
  background-color: red;
}
.formContainer button {
  transition: all 800ms;

}
.formContainer button:hover{
  transform: rotateY(360deg);
  
}
/* end weather form*/

/*  weatherInfo*/
.infoBox{
  max-width: 30rem;
  margin:0px auto;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(53, 57, 112, 0.37);
  backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.infoBox header{
  display: flex;
  color: var(--text-color);
  justify-content: space-around;
  align-items: center;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(53, 57, 112, 0.37);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px 10px 0 0;
}
.infoBox main{
  width: 100%;
  display: flex;
  justify-content: center;

   
}
.infoBox  h1{
  font-size: xx-large;
  color: var(--text-color);
  font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin: auto 2px;
  padding: 30px 0px 2px 0;
  position: relative;
  height: 7vh;
}
.infoBox h1 span{
  
  position: absolute;
  top:-5px;
  right: -50px;
}
.infoBox main img{
  
  height: 100%;
  width: 200%;
  margin-left: 40px;
}
.information{
  color: #181712;
  font-family:  'Helvetica Neue', sans-serif;
  text-align: start;
  line-height: 10px;
  font-size: larger;
  margin-left: -60px;
  margin-top: 20px;
}
.information span{
  color:rgb(250, 250, 250);
  font-size: large;
  font-family:Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 5px;
}
/*  ends weatherInfo*/


@media  screen and (max-width: 700px) {
 
  .formContainer{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
  }
  .formContainer input{
    border: 1px solid #62d;
    outline: none;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: large;
    width: 15rem;
  }
  .infoBox{
    max-width: 20rem;
    margin:0px auto;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(53, 57, 112, 0.37);
    backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba(173, 31, 31, 0.18);
    height: 70vh;
  }
  .infoBox header{
    height: 15vh;
  }
  .infoBox main{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; 
  }
  .infoBox main img{
    height: 25vh;
    width: 100%;
    margin: 0px auto;
  }
  .information{
    width: 10rem;
    display: flex;
    flex-direction: column;
    line-height: 0px;
    align-items: flex-start;
    justify-content: center;
    margin-left:40px;
    font-size: medium;
    margin-top: -30px;
  }
  
}

